body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

#start-button {
    padding: 20px 40px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    border: none;
    background-color: #ff4081;
    color: black;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
}

.background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.bulbs {
    position: absolute;
    top: 8%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    z-index: 2;
}

.bulb {
    width: 100px;
    height: 100px;
    animation: glow 2s infinite alternate;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.balloons {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.balloon {
    position: absolute;
    width: 50px;
    height: 70px;
    animation: float 5s infinite;
}

.balloon-border {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(Balloon-Border.png);
    background-size: cover;
    background-position: center;
    pointer-events: none;
    z-index: 4;
}

.cake {
    position: absolute;
    bottom: -200px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 3;
    animation: slideIn 2s ease-out 4s forwards;
}

.cake img {
    width: 150px;  
}

.game {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
}

.ball {
    position: absolute;
    width: 50px;
    height: 70px;
    background-color: red;
    border-radius: 50% 50% 50% 50% / 60% 60% 60% 60%;
    cursor: pointer;
    animation: float 6s infinite;
}

@keyframes float1 {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100vh);
    }
}

@keyframes slideIn {
    to {
        bottom: 10%;
    }
}

@keyframes glow {
    from {
        opacity: 0.5;
        filter: brightness(1);
    }
    to {
        opacity: 1;
        filter: brightness(2);
    }
}

@keyframes float {
    0% {
        transform: translateY(100vh);
    }
    100% {
        transform: translateY(-100vh);
    }
}

@keyframes slidein {
    to {
        bottom: 10%;
    }
}

/*---------Responsive------------*/
@media (max-width: 768px) {
    .bulb {
        width: 30px;
        height: 30px;
    }
    .balloon {
        width: 30px;
        height: 50px;
    }
    .cake img {
        width: 150px;
    }
    .balloon-border {
        background-size: contain;
    }
}